<!doctype html>
<title>Flask_Portal</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<div class="page">
  <h1>Flask_Portal</h1>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log in</a>
    <a href="{{ url_for('register_new') }}">Register</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>