{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

  <form action="{{ url_for('register_new') }}" method="post">
    <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Register</h1>
			</div>
			<div class="login-form">
              <div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Register" class="btn btn-primary btn-large btn-block" >
			    <br>
              </div>
          </div>
      </div>
  </form>
{% endblock %}